<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066444850166-12rt0i6tcp69ojh9tfe9jamd3h65nsic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066444850166-12rt0i6tcp69ojh9tfe9jamd3h65nsic</string>
	<key>API_KEY</key>
	<string>AIzaSyCkm4Gg-rKL4qQHEqGQnhSzDbbMTI_9FA4</string>
	<key>GCM_SENDER_ID</key>
	<string>1066444850166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autoVault</string>
	<key>PROJECT_ID</key>
	<string>auto-vault-9517b</string>
	<key>STORAGE_BUCKET</key>
	<string>auto-vault-9517b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066444850166:ios:74b05c2437d8853a6c3dd7</string>
</dict>
</plist>